# 조건문

### 1. 연도를 입력으로 받아 윤년인지 아닌지를 출력하는 프로그램을 작성하시오. 
윤년은 연도가 4의 배수이면서, 100의 배수가 아닐 때 또는 400의 배수일 때이다. 
(예를들어, 2012년은 4의 배수라서 윤년이지만, 1900년은 4의 배수이지만, 
100의 배수이기 때문에 윤년이 아니다. 하지만, 2000년은 400의 배수이기 때문에 윤년이다.)

In [28]:
year = int(input('연도를 입력하세요.'))
if  ((year % 4 == 0 and year % 100 != 0) or year % 400 == 0): 
    print(year, '은 윤년입니다.')
else: 
    print(year, '은 윤년이 아닙니다.')

#언인벤트 뭐시기 오류 나오면 if문 드래그해서 shift + tab 치기

2021 은 윤년이 아닙니다.

### 2. 본인의 생일을 1998 12 15 과 같이 년 월 일로 입력받아 오늘 날짜의 만 나이를 구하는 프로그램을 작성하시오.

In [21]:
birth_year = int(input('출생년(4자리)을 입력하세요.'))
birth_month = int(input('출생월을 입력하세요.'))
birth_day= int(input('출생일을 입력하세요.'))

import datetime
now = datetime.datetime.now()

if birth_month < now.month:
     age = now.year - birth_year
elif birth_month == now.month:
    if birth_day <= now.day:
        age = now.year - birth_year
    else :
        age = now.year - birth_year - 1
else :
    age = now.year - birth_year - 1

print('만 나이는 ', age, '입니다.')

만 나이는  24 입니다.

In [2]:
year, month, day = map(int, input('생일 입력').split())
year, month, day

ValueError: invalid literal for int() with base 10: '1997,'

## 3. 세 자연수 a, b, c 가 피타고라스 정리 a2 + b2 = c2 를 만족하면 피타고라스 수라고 부른다. 
### (여기서 a < b < c 이고 a + b > c) 예를 들면, 32 + 42 = 9 + 16 = 25 = 52 이므로 3, 4, 5는 피타고라스 수입니다.
### a + b + c = 1000 인 피타고라스 수를 구하시오. (답은 한가지 뿐이다.)

In [8]:
for a in range(1, 333):
    for b in range(a+1, 500):
        c = 1000 - a - b
        if c < (a + b):
            continue
        if c*c == a*a + b*b:
            print(f'{a}, {b}, {c}')
            break

# 반복문

## 1. (별 그리기)
### 5이상 9이하의 홀수를 입력받아 다이아몬드 형태의 별을 출력하는 프로그램을 작성하시오.

In [25]:
dia = int(input('5이상 9이하의 홀수'))
if dia % 2 == 1:
    i = 1
else:
    i = 2

for i in range(i, dia + 1, 2):
    blank = ' ' * ((dia - i)//2)
    star = '*' * i

    print(blank, star, blank)
    
for i in range(i-2, 0, -2):
    blank = ' ' * ((dia - i)//2)
    star = '*' * i
    
    print(blank, star, blank)

   *
  ***
 *****
  ***
   *

## 2. 디지털 시계에 하루동안(00:00~23:59) 3이 표시되는 시간을 초로 환산하면 총 몇 초(second)일까요?
### 디지털 시계는 하루동안 다음과 같이 시:분(00:00~23:59)으로 표시됨.

In [26]:
sumSec=0    # 초의 총합을 저장할 변수
for hour in range(24) :     # 시간
    for minute in range(60) :   #분
        if '3' in str(hour) or '3' in str(minute) : # 시간이나 분에 3이 들어가면
            sumSec += 60            # 60초씩 더함
print(sumSec)

29700

## 3. 1~1000에서 각 숫자의 개수를 구하시오.
### - 예로 10 ~ 15 까지의 각 숫자의 개수를 구해보자.
### 10 = 1, 0
### 11 = 1, 1 
### 12 = 1, 2
### 13 = 1, 3
### 14 = 1, 4
### 15 = 1, 5
### 그러므로 이 경우의 답은 0:1개, 1:7개, 2:1개, 3:1개, 4:1개, 5:1개

In [27]:
s = []
for i in range(1, 1001):
    for d in range(0,len(str(i))):
        letter = str(i)
        add = letter[d:d+1]
        s.append(add)
for k in range(0,10):
    print("{0}의 갯수 = {1}".format(str(k),s.count(str(k))))

0의 갯수 = 192
1의 갯수 = 301
2의 갯수 = 300
3의 갯수 = 300
4의 갯수 = 300
5의 갯수 = 300
6의 갯수 = 300
7의 갯수 = 300
8의 갯수 = 300
9의 갯수 = 300

## 4. 자기 자신을 제외한 모든 양의 약수들의 합이 자기 자신이 되는 자연수를 완전수라고 한다.
## 예를 들면, 6과 28은 완전수이다. 
## 6=1+2+3    1,2,3은 각각 6의 약수 
## 28=1+2+4+7+14   1,2,4,7,14는 각각 28의 약수.
## 입력으로 자연수 N을 받고, 출력으로 N 이하의 모든 완전수를 출력하는 코드를 작성하시오.