# 딕셔너리(Dictionary)

In [ ]:
# 리스트와 딕셔너리 비교
# 리스트 ['20150213', '홍길동' ,'1995-04-03'. '서울 동대문구']
# 딕셔너리 {'학번':'20150213', '이름':'홍길동', '생년월일':'1995-04-03', '주소':'서울 동대문구'}

## 딕셔너리 만들기

In [2]:
lux = {'health':490, 'mana':334, 'melee':550, 'armor':18.72}
lux

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [3]:
lux1 = dict(health=490, mana=334, melee=550, armor=18.72)
lux1

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [4]:
lux2 = dict([('health', 490), ('mana', 334), ('melee', 550), ('armor', 18.72)])
lux2

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [5]:
list(zip([1, 2, 3], ['a', 'b', 'c']))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [7]:
key_list = ['health', 'mana', 'melee', 'armor']
val_list = [490, 334, 550, 18.72]
list(zip(key_list, val_list))

[('health', 490), ('mana', 334), ('melee', 550), ('armor', 18.72)]

In [8]:
lux3 = dict(zip(key_list, val_list))
lux3

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}